* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Helvetica;
}

/* HEADER */
nav {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
}

header ul {
    display: flex;
}

header li {
    list-style-type: none;
    margin: 0 0 0 1rem;
}

header a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

header a:hover {
    border-bottom: 1.5px solid #222;
}

header form {
    margin-left: auto;
}
/* HEADER */

/* MAIN */
main {
    margin: auto;
    max-width: 1200px;
    border: 1px solid black;
    height: 100vh;
}

main h1 {
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    margin-top: -2rem;
}

.img-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainSections {
    margin: auto;
    width: 60%;
    text-align: center;
    text-align: justify;
    margin-top: 5rem;
}

.mainDivCenter {
    margin: auto;
    justify-content: center;
}

.new {
    padding: 0.3rem;
    font-weight: bold;
    color: #FFF;
    background-color: #BB3824;
    border-radius: 20%;
}
/* MAIN */