* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* HEADER */
header {
    z-index: 999;
}

nav {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(197, 197, 255, 0.9); 
    color: rgba(197, 197, 255, 0.9);
}

header ul {
    display: flex;
}

header li {
    list-style-type: none;
    margin: 0 0 0 1rem;
}

header a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

header a:hover {
    border-bottom: 1.5px solid #222;
}

header form {
    margin-left: auto;

}
/* HEADER */

/* MAIN */
main {
    margin: auto;
    max-width: 1200px;
    border: 1px solid black;
    height: 100vh;
}

main h1 {
    text-align: center;
    font-size: 8em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* MAIN */